:root {
  --border-color: #291D4D;
  --dialog-background: #caeee5;

  --menu-background: #a3cdf5;
  --menu-border-color: #1f9ca7;
  --menu-font-color: #160220;
  --menu-selected-background: #7fc2ff;
}

* {
  box-sizing:border-box;
  font-family: Tahoma, Verdana, sans-serif; 
}

body {
  background: #333;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.game-container {
  position: relative;
  background: var(--menu-selected-background);
  width: 352px;
  height: 198px;
  margin: 0 auto;
  outline: 1px solid #fff;

  transform: scale(2.8) translateY(40%);
}

.game-container canvas {
  image-rendering: pixelated;
}